a img {
  border: none;
}

a {
  color: #075e00;
}

/*#flash_notice, #flash_error, #flash_alert {
  padding: 1em 1em;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}*/

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}


.authentications {
  margin-bottom: 30px;
}

.authentication {
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentication .remove:hover {
  color: #FFF;
  background-color: #777;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.authentication img {
  float: left;
}

.authentication .provider, .authentication .uid {
  margin-left: 38px;
  margin-right: 20px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial Geneva, sans-serif;
  font-size: 13px;
}

#container {
  width: 98%;
  margin: 0 auto;
  background-color: #fffeec ;
  padding: 1em 1em;
  height: 60em;
}


.wrapper {
  margin: 0em auto;
  padding: 2em 1em 0em 1em;
  height: 47em;
  text-align: left;
  width: 90%;
}

section#intro {
  background-color: #e9ffd2;  
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  -webkit-box-shadow: 1px 1px 10px #065500;
  -moz-box-shadow: 1px 1px 10px #065500;
  box-shadow: 1px 1px 10px #065500;
}


/* =header
---------------------------------------------- */
#intro header {
  font-family: "CorbelRegular", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  text-align: center;
  text-shadow: 0 1px 1px #000;
}

#intro header h1 {
  color: #008000;  
  font-size: 36px;
  font-family:Verdana
  text-shadow: 1px 1px 2px #00c400;
/*  margin: 8px 0;*/  
  position: relative;
}

#intro header h2 {
  color: #3f7d00;
  font-size: 25px;
  text-shadow: 1px 0px 2px #6ad500;
  position: relative;
}

/* ------------------------------------------- */

/* == cranes, nav ========================================================== */

section#intro nav {
  text-align: center;
  padding: 0 0 0 4em;  
}
section#intro nav ul {
  overflow: hidden;
}
section#intro nav ul li {
  display: inline-block;
  float: left;
  font-family: "CorbelRegular", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
/*  margin-left: 6px;*/
  text-align: center;
  width: 233px;  /* TODO Tab size*/
}
section#intro nav ul li a {
  background-position: top center; /* TODO Tab pic */
  background-repeat: no-repeat; /* TODO Tab pic */
  display: block;
  height: 20px; /* TODO Tab size*/
  padding: 72px 0 20px 0;
  color: #006a00;
  text-decoration: none;
  text-shadow: 0 0 1px #00d56a;
}
section#intro nav ul li a:hover {
  color: #006a00;
  text-shadow: 0 0 6px #00ce00;  
}
section#intro nav ul li #href-forget_servers {
  background-image: url("/images/home/crane1.png");
}
section#intro nav ul li #href-run_anything {
  background-image: url("/images/home/crane2.png");
}
section#intro nav ul li #href-see_everything {
  background-image: url("/images/home/crane3.png");
}
section#intro nav ul li #href-trust_and_manage {
  background-image: url("/images/home/crane4.png");
}
section#intro nav ul li a sup {
  color: #ff5300;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 9px;
  vertical-align: top;
}

section#intro nav ul li.active {
}
section#intro nav ul li.active a {
  font-size:larger;
  color:#003700;
  text-shadow: 0 0 10px #00ce00;
}
section#intro nav ul li.active a sup {
  text-shadow: 0 0 3px #ff5900;
}

section#intro #slider-handle {
  background: url("/images/home/nav-highlight.png") no-repeat top center;
  height: 13px; /* TODO hanle size */
  position: absolute;
  top: -1px;
  width: 151px; /* TODO hanle size */
  z-index: 1;
}

/* == slider, highlight, arrow ============================================= */

section#intro #slider-container {
  background: #359c0e; /* Old browsers */
  background: -moz-linear-gradient(top, #d5fac7 0%, #359c0e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5fac7), color-stop(100%,#359c0e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d5fac7 0%,#359c0e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d5fac7 0%,#359c0e 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #d5fac7 0%,#359c0e 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5fac7', endColorstr='#359c0e',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #d5fac7 0%,#359c0e 100%); /* W3C */
 
  -moz-background-clip: padding; 
  -webkit-background-clip: padding-box; 
  
  background-clip: padding-box; 
  border: 1px solid #80ff00;
  border-bottom: 2px solid rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 1px rgba(153,156,203,.4) inset;
  -webkit-box-shadow: 0 0 1px rgba(153,156,203,.4) inset;
  box-shadow: 0 0 1px rgba(153,156,203,.4) inset;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  height: 22em;
  padding: 1em 1em 2em 1em;
  position: relative;
}

/* code kuangkuang */
section#intro #slider-code {
  display:none;
  background: hsla(240,11%,4%,.5);
  border: 1px solid hsla(237,32%,63%,.15);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 24px;
  width: 382px;
}


/* == article, content, ==================================================== */

section#intro article {
  left:0;
  padding: 1em 1em 2em 1em;
  margin: 2em 2em 2em 2em;
  top: 0;
  width: 910px;
}

section#intro article a {
  color: rgba(150,142,255,1);
  text-decoration: none;
}
section#intro article h3,
section#intro article p,
section#intro article ul {
  color: #050a01;  
  padding-right: 24px;
  text-shadow: 1px 1px 10px #f8fb88;
  width: 430px;
}
section#intro article h3,
section#intro article p {
  font-family: "CorbelRegular", "Helvetica Neue", Helvetica, sans-serif;
}
section#intro article h3 {
  font-size: 20px;
  font-family:Tahoma;
  font-weight:bold;
  line-height: 24px;
  margin-bottom: 18px;
  padding-top:3px;
}
section#intro article p {
  font-size: 16px;
  line-height: 20px;
}
section#intro article ul {
  font-weight: bold;
  padding-top: 24px;
}
section#intro article ul li {
  line-height: 18px;
}
section#intro article a:link,
section#intro article a:visited {
  color: #8787ff;
  font-weight: bold;
}

section#intro article a:hover,
section#intro article a:active {
  color: #73b0ff;
}

section#intro article a:link.button {
  background: url("/images/home/link-button-bg.png") right top no-repeat;
  color: #9782ff;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  line-height: 17px;
  padding: 0 20px 0 0;
  margin-bottom: 4px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .75);
}

section#intro article a:hover.button {
  background-position: right -17px;
  color: #73b0ff;
}

section#intro pre {
  font-family: Monaco, fixed-width;
  font-size: 11px;
  line-height: 18px;
  overflow: hidden;
  padding: 24px;
  position: absolute;
  right: 24px;
  top: 24px;
  width: 382px;
}

section#intro div.present_box {
  background: #ceffca ;
  -webkit-box-shadow: 1px 1px 10px #065500;
  -moz-box-shadow: 1px 1px 10px #065500;
  box-shadow: 1px 1px 10px #065500;
  border: 1px solid hsla(237,32%,63%,.15);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  
  top: 2em;
  right: 4em;
  height: 15em;
  overflow: hidden;
  padding: 44px 24px 24px 24px;
  position: absolute;
  text-align: center;
  width: 35em;
}

.userbox {
  float: right;
  padding: 1em 0em 1em 3em;
  background: whiteSmoke;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FCFCFC',endColorstr='#ECECEC');
  background: -webkit-gradient(linear,0% 0,0% 100%,from(#FCFCFC),to(#E8E8E8));
  background: -moz-linear-gradient(270deg,#FCFCFC,#ECECEC);
  border-color: #EEE;
  border: 1px solid #E9E9E9;
  border-bottom-color: whiteSmoke;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
