<div class="last">
<% if user_signed_in? %>
  <p><strong><%= t("authentications.add_sign_in_method") %></strong></p>  
  <% else %>  
  <p><strong><%= t("authentications.sign_in_methods_for_not_login")%></strong></p> 
<% end%>
  
<% for auth_method in $omni_auth_providers -%>
  <%= link_to image_tag("/images/#{auth_method.to_s}_32.png", :size => "32x32", :title => (t auth_method.to_s, :scope => :auth_provider)), "/auth/#{auth_method.to_s}", 
        :class => "auth_provider"%>  
<% end -%>
</div>
<hr class='space'>
